html,
html,
head,
body {
    background: #2c2e33;
    height: 100%;
    font-size: 100%;
    font-size-adjust: 0.5;
    position: relative;

}

@font-face {
    font-family: avenir-bold;
    src: url(fonts/Heavy.ttf);
}

@font-face {
    font-family: avenir-light;
    src: url(fonts/Light.otf);
}

@font-face {
    font-family: avenir-medium;
    src: url(fonts/Medium.ttf);
}

.link{
    z-index: 100;
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 80px;
    z-index: 99;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0); 
    border-color: #2c2e33;
    color: #ac936a;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #ac936a; 
}

.gold-text{
    color: #ac936a;
}


.line {
    border-left: 2px solid rgba(105, 105, 105, 0.5);
    padding: 2px;
    height: 100%;
    position: fixed;
    z-index: 0;
}

.navbar {
}

.navbar .navbar-collapse .navbar-nav li > a {
    position: relative;
    color: #cfcccc;
    text-decoration: none;
    margin-top: 2em;
}

.navbar .navbar-collapse .navbar-nav li > a:hover {
    color: #ac936a;
}

.navbar .navbar-collapse .navbar-nav li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ac936a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .navbar-collapse .navbar-nav li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar {

    display: flex;
    justify-content: center;
}

.navbar .navbar-collapse .navbar-nav {
    text-align: center;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#d7b96d' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #ac936a;
}

.logo {
    position: fixed;
    left:5vw;
    top: 10vh;
    margin-bottom: 5em;
    width: 5em;
    overflow: visible;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.logo-index {
    position: fixed;
    left:5vw;
    top: 8vh;
    margin-bottom: 5em;
    width: 13vh;
    overflow: visible;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.log {
    margin-top: 10vh;
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5em;

}
.gif {
    top: 0px;
    margin-bottom: 5em;
    width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.gif_1 {

    width: 70%;
    
    
}

.contrast {  }
.container-fluid .row .test {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.row .col-sm-2 .deltagelse {
    font-family: 'avenir-bold', sans-serif;
    color: #d7b96d;
    font-size: 12px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 10em;
    width: 10em;
    text-align: left;
    

}

.row .col-sm-2 .deltagelse_active {
    font-family: 'avenir-bold', sans-serif;
    color: #d7b96d;
    font-size: 12px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 10em;
    width: 10em;
    text-align: left;
}
.row .col-sm-2 .deltagelse_active a{
    font-family: 'avenir-bold', sans-serif;
    color: #ac936a;
    font-size: 12px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 10em;
    width: 10em;
    text-align: left;
}
.row .col-sm-2 .deltagelse_active_1 {
    font-family: 'avenir-bold', sans-serif;
    color: #d7b96d;
    font-size: 12px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 10em;
    width: 10em;
    text-align: left;
}
.row .col-sm-2 .deltagelse_active_1 a{
    font-family: 'avenir-bold', sans-serif;
    color: #ac936a;
    font-size: 12px;
    padding-top: 0em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 10em;
    width: 10em;
    text-align: left;
    
}
.stor{

    font-family: 'avenir-bold', sans-serif;
    color:#cfcccc;
    font-size: 45px;
    letter-spacing: 5px;
}
.NOR{

    font-family: 'avenir-bold', sans-serif;
    color: #ac936a;
    font-size: 45px;

    letter-spacing: 5px;
}
.ST{

    font-family: 'avenir-medium', sans-serif;
    color:#cfcccc;
    font-size: 25px;

    letter-spacing: 3px;
}
.KO{
    
    font-size: 12px;
    letter-spacing: 1px;
}
.move{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row .col-sm-2 .deltagelse_active_1 :before {
    content: "";
    position: absolute;
    width: 5em;
    height: 2px;
    bottom: 0;
    left: 1;
    background-color: #ac936a;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.row .col-sm-2 .deltagelse_active_1 :before {
    content: "";
    position: absolute;
    width: 6em;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ac936a;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}



#text{
    background-color:#2c2e33;
    white-space: nowrap;
}
p {
    color: #cfcccc;
}

.row .col-sm-2 .deltagelse {
    position: relative;
    color: #cfcccc;
    text-decoration: none;
}

.row .col-sm-2 .deltagelse :hover {
    color: #ac936a;
}

.row .col-sm-2 .deltagelse :before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ac936a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.row .col-sm-2 .deltagelse :hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


.container-fluid .row .col-md-4 .kategori1 {
    color: #ac936a;
    font-family: 'avenir-light', sans-serif;
    margin-top: 3%;
    text-align: left;
    padding-left: 1em;
}

.container-fluid .row .col-md-4 .design {
    color: #cfcccc;
    font-family: 'avenir-bold', sans-serif;
    text-align: left;
    font-size: 50px;
    letter-spacing: 0.1em;
    padding-left: 0.2em;
    white-space: nowrap;

}
.historie {
    color: #cfcccc;
    font-family: 'avenir-bold', sans-serif;
    font-size: 50px;


}
#adjust{}

.container-fluid .row .col-md-4 .gold-text{
    color: #ac936a;
}

.container-fluid .fake a {
    color: #cfcccc;
}

.navbar .navbar-nav li > a {
    position: relative;
    text-decoration: none;
}

.navbar .navbar-nav li > a:hover {
    color: #ac936a;
}

.navbar .navbar-nav li > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    background-color: #ac936a;
    visibility: hidden;

}


.navbar-left {
    text-align: left;
    overflow: hidden;
    width: 100%;
    left: 1em;
    margin: 0;
    position: absolute;
    top: 25vh;
    z-index: 1;
    color: rgba(0, 0, 0, 0.5);




}

.navbar-left .left {
    text-align: left;
    padding-top: 3em;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);

}

a {
    color: rgba(255, 255, 255, 0.1);
}

.active {

    text-align: left;
    padding-left: 2em;
    z-index: 2;
    left: 1em;
    color: white;

}

.normal-text {
    color: #cfcccc;
    font-family: 'avenir-light', sans-serif;
    text-align: left;
    font-size: 13px;
    padding-left: 1em;

}



.navbar-left .navbar-nav .left :before {
    content: "";
    display: block;
    border-top: solid 3px #ac936a;
    width: 10.5em;
    height: 2px;
    position: absolute;
    top: 40%;
    left: -12em;

}

.navbar-left .navbar-nav .left span {
    background: #0000;
    position: relative;
    z-index: 1;
}


.icons{
    position: fixed;
    bottom:0;
    right:0;
}

.fa {
    
    font-size: 1em;
}
.fa:hover {
    color:#ac936a;
    opacity: 0.7;
}
.fa-facebook {
    position: fixed;
    right: 2.2vw;
    bottom:20vh;
      color: white;
}

.fa-instagram {
    position: fixed;
    right: 2vw;
    bottom:10vh;
    color: white;
}
.fa-snapchat-ghost {
    position: fixed;
    right: 2vw;
    bottom:15vh;
    color: white;
}

.container-fluid .row .col-md-4 .small-text {
    font-family: 'avenir-light', sans-serif;
    text-align: left;
    padding-left: 1vh;
    font-size: 18px;
 }

.container-fluid .row .col-md-6 .card {
    left: 1vh;
    background-color: #2c2e33;
    border-color: #2c2e33;
}
 
 .container-fluid .row .col-md-6 .contact-text {
     color: #ac936a;
     font-family: 'avenir-light', sans-serif;
     text-align: left;
     font-size: 20px;
 }

.container-fluid .row .col-md-6 .contact-small {
     color: white;
     font-family: 'avenir-light', sans-serif;
     text-align: left;
     font-size: 16px;
 }
 
 .container-fluid .row .col-md-6 .h1{
     color: black;
     font-family: 'avenir-light', sans-serif;
     text-align: center;
     font-size: 13px;    
     font-size: 1px;    
 }


.container-fluid .row .col-md-6 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.container-fluid .row .col-md-6 button:hover, a:hover {
    opacity: 0.7;
}
#one{
    padding-top: 20vh;
}
#two{
   padding-top: 20vh;
}
#three{
     padding-top: 20vh;
}
#four{
     padding-top: 30vh;
}
#overskrift17{
    padding-top: 40vh;
}
#overskrift90{
    padding-top: 5vh;
}

.jury{
    font-family: 'avenir-bold', sans-serif;
    font-size: 1.1em;
}
.text_1{
     display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
